* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  align-items: stretch;
  border-radius: 3px;
}

.nav-bar button {
  width: 70px;
  background: 
  linear-gradient(
    to top,
    #4f4f4f 0%,
    #393939 50%,
    #444 50%,
    #606060 100%
  );
  color: white;
  height: 25px;
}

#searchbutton {
  background: 
  linear-gradient(
    to top,
    #4f4f4f 0%,
    #393939 50%,
    #444 50%,
    #606060 100%
  );
  position: relative;
}

.fa-search {
  position: absolute;
  right: 440px;
  top: 132px;
  color: white;
}

header {
  background: url("./images/apple2.jpg");
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: 100% auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
}

.offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.offers img {
  max-width: 300px;
  height: auto;
}

.left-footer {
  float: left;
  margin-left: 12%;
  color: gray;
}

.right-footer {
  float: right;
  margin-right: 12%;
  color: grey;
}

footer a {
  text-decoration: none;
  color: #6f93d0;
}
